Repository topsmart0201/Jotform_dnd-builder: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint

Create main.js
  .storybook/main.js
Due: ./node_modules/.bin/eslint

Create publish.yml
  .github/workflows/publish.yml
Due: none

Create .gitignore
  .gitignore
Due: none

Create .huskyrc
  .huskyrc
Due: none

Create .markdownlintrc
  .markdownlintrc
Due: none

Create logo.png
  .storybook/assets/logo.png
Due: none

Create readme.gif
  .storybook/assets/readme.gif
Due: none

Create main.scss
  .storybook/main.scss
Due: ./node_modules/.bin/stylelint

Create manager.js
  .storybook/manager.js
Due: ./node_modules/.bin/eslint

Create preview-head.html
  .storybook/preview-head.html
Due: none

Create preview.js
  .storybook/preview.js
Due: ./node_modules/.bin/eslint

Create .svgo.yml
  .svgo.yml
Due: none

Create babel.config.js
  babel.config.js
Due: ./node_modules/.bin/eslint

Create CHANGELOG.md
  CHANGELOG.md
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Create jest.config.js
  jest.config.js
Due: ./node_modules/.bin/eslint

Create LICENSE.md
  LICENSE.md
Due: none

Create package-lock.json
  package-lock.json
Due: none

Create package.json
  package.json
Due: none

Create README.md
  README.md
Due: none

Create rollup.dev.config.js
  rollup.dev.config.js
Due: ./node_modules/.bin/eslint

Create rollup.prod.config.js
  rollup.prod.config.js
Due: ./node_modules/.bin/eslint

Create cssTransform.js
  scripts/cssTransform.js
Due: ./node_modules/.bin/eslint

Create enzymeSetup.js
  scripts/enzymeSetup.js
Due: ./node_modules/.bin/eslint

Create fileTransform.js
  scripts/fileTransform.js
Due: ./node_modules/.bin/eslint

Create constants.js
  src/__test_helpers__/constants.js
Due: ./node_modules/.bin/eslint

Create builder.spec.js
  src/__tests__/unit-tests/Builder/builder.spec.js
Due: ./node_modules/.bin/eslint

Path conditions:
  ./node_modules/.bin/eslint: any of: *.js
  ./node_modules/.bin/stylelint: any of: *.scss
